.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.rec-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  font-size: 32px;
  color: red;
  background-color: white;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#signInButton {
  margin-right: 5px;
}

#addAlarmButton {
  margin-right: 5px;
}

.StartMainPage {
  margin: 50px;
}

.UserAlarms {
  margin-top: 100px;
}

#NewAlarmPage {
  margin-top: 100px; 
}

